<head>
<style>

body{font-family:Verdana,sans-serif;font-size:16px;line-height:1.5}html{overflow-x:hidden}

h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}.w3-serif{font-family:serif}


#Instr { 
	background-color: rgb(192, 192, 192);
	font-family: Courier, monospace;
	font-size: 16px;

	}
	
</style>
</head>
